location = /index.php {
	set $ci_env production;
	if ($host ~* "(.deerstep.com$)|(^dev)|(^_dev)") {
		set $ci_env development;
	}

#	proxy_buffer_size 128k;
#	proxy_buffers 4 256k;
#	proxy_busy_buffers_size 256k;
	fastcgi_buffering off;
	fastcgi_buffer_size 16k;
	fastcgi_buffers 16 16k;
	fastcgi_connect_timeout 600s;
	fastcgi_send_timeout 600s;
	fastcgi_read_timeout 600s;

	fastcgi_pass unix:/run/php/php7.4-fpm.sock;
	fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
	fastcgi_param CI_ENV $ci_env;
	include fastcgi_params;
}
